Django==5.1.15
djangorestframework==3.17.2
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
python-dotenv==1.2.3
pypdf==6.19.0
chromadb==1.5.9
google-generativeai==0.8.6
gunicorn==26.2.0
pytest==9.1.1
pytest-django==4.14.0
whitenoise==6.12.0
